Package: com.github.linuxhubit.shouldidoit-dbgsym
Package-Type: ddeb
Source: com.github.linuxhubit.shouldidoit
Version: 1.0.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Mirko Brombin <send@mirko.pm>
Installed-Size: 56
Depends: com.github.linuxhubit.shouldidoit (= 1.0.0)
Section: debug
Priority: optional
Description: debug symbols for com.github.linuxhubit.shouldidoit
Build-Ids: d9041ffd1e094cec9817667479a198bc92e945bf
